

$font-family: 'Roboto', sans-serif;
$white: #ffffff;
$blueDark: rgb(7, 6, 54);
$grey80: #555555;
$gradient-blue: $blueDark;
$blueDarker: rgb(0, 0, 30);

body {
  font-family: $font-family;
  height: 100vh;
  min-height: 800px;
  background: $blueDarker; /* Darker blue for the background */
  overflow: auto;
}

button {
  background: $white;
  color: $grey80;
  font-family: $font-family;
  font-size: 16px;
  border: none;
  padding: 15px;
  flex-grow: 1;
  width: 50px;
  &:focus {
    outline: none;
  }
}

.message {
  text-align: center;
  color: $white;
  margin-bottom: 30px;
  min-width: 300px;
  max-width: 40%;
  h1 {
    font-family: 'Roboto Slab';
    font-size: 2rem;
    margin-bottom: 20px;
    line-height: 2.5rem;
  }
  p {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  strong {
    font-weight: bold;
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculator {
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 0 50px #202020;
}

.display {
  font-size: 3rem;
  font-weight: 300;
  padding: 20px 10px;
  color: $white;
  background: $gradient-blue; /* Using the dark blue gradient */
  &-text {
    flex-grow: 5;
    text-align: right;
  }
  &-overall {
    font-size: 12px;
    line-height: 10px;
    height: 20px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.6);
  }
}

.row {
  display: flex;
}

.inputs {
  display: flex;
}

.sides {
  display: flex;
  flex-direction: column;
  .ac {
    flex-grow: 1;
  }
  .equal {
    flex-grow: 2;
    color: $white;
    background: $gradient-blue; /* Using the dark blue gradient */
  }
}

.operator,
.sides {
  button {
    background: $blueDark; /* Using the dark blue for operator buttons */
  }
}

.operator button {
  &.active {
    background: $gradient-blue; /* Using the dark blue gradient for active operator buttons */
    color: $white;
  }
}
